/*no.5*/
#p3 {
	color: yellow;
    font-style: solid;
    font-weight: bold;
}

/*no.6*/
* {
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	color: black;
	font-size: medium;
}


/*no.7*/
h1 {
	font-family: "Arial", sans-serif;
	color: black;
	font-size: 51px;
}

/*no.8*/
#H2 {
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 17px;
}

/*no.9*/
.Languages {
	background-color: DarkSeaGreen;
	font-family: "Lucida Console", monospace;
	font-size: 15px;
	font-stretch: ultra-condensed;
}

/*no.10*/
li[Tools] {
	border-width: 1px;
	border-style: groove;
	border-color: skyblue;
	font-family: "Arial", sans-serif;
	color: black;
}

/*no.11*/
img + ul {

	list-style: none;
}

/*no.12*/
section img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

/*no.13*/
h4 ~ img ~ ul ~ p {
	text-align: center;
}

/*no.14*/
section > ul {
	letter-spacing: 5px;
}